@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body, section, aside, div, article, header, footer {
	box-sizing: border-box;
}
html {
	margin:0;
	padding:0;
	background-color:black;
}
body {
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 7px;
	text-shadow: 1px 1px #666666;
	color:rgb(0,60,0);
	width:100vw;
	overflow-x:hidden;
	position:relative;
}
.hider {
	display:block;
}
.page1-wrapper {
	width:100vw;
	height:100vh;
	background-image:url("images/background.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%;
	background-size: 100vw 100vh;
	background-attachment: scroll;
	text-shadow: -3px 3px #666666;
	color:rgb(255,255,255);
	text-align: center;
}
.page2-wrapper {
	width:100vw;
	background-image:url(images/newback.jpg);
	background-repeat: repeat-y;
	background-position:0% 0%;
	background-size: 100vw 100vh;
	;
	background-attachment: scroll;
	text-shadow: -1px 1px #fff;
	color:rgb(0,0,0);
	text-align: center;
}
.page3-wrapper {
	width:100vw;
	background-image:url("images/backgroundg.jpg");
	background-repeat: repeat-y;
	background-position:0% 0%;
	background-size: 100vw 100vh;
	;
	background-attachment: scroll;
	text-align: center;
}
a {
	color:inherit;
	text-decoration:inherit;
}
.container {
	width:80%;
	text-align: center;
	margin:0 auto;
}
.open-page {
	padding-top:50px;
	animation:slideup 5s;
	animation-timing-function: ease-in-out;
}
@keyframes slideup {
	0% {
		padding-top:200px;
	}
	70% {
		padding-top:200px;
	}
	100% {
		padding-top:0px;
	}
}
#signature {
	padding:2px;
	animation:floatin 3s;
	animation-timing-function:ease-in-out;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 50%, rgba(255,255,255,0) 100%);
}
#signature p {
	margin-bottom:0px;
	padding-top:10px;
	font-size:70%;
}
.portfolio-title {
	background-color:white;
	background: linear-gradient(90deg, rgba(0,0,255,0) 0%, rgba(170,255,170,1) 50%, rgba(0,0,255,0) 100%);
	padding:10px;
	padding-bottom:1px;
}
.experience-title {
	background-color:white;
	background: linear-gradient(90deg, rgba(0,255,0,0) 0%, rgba(170,255,170,1) 50%, rgba(0,255,0,0) 100%);
	padding:10px;
	padding-bottom:1px;
}
.contact-title {
	background-color:white;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	padding:10px;
	padding-bottom:10px;
}
@keyframes floatin {
	0% {
		transform: scale3d(0.01,1,0.1);
		letter-spacing: 1px;
		opacity:0;
	}
	30% {
		transform: scale3d(1,1.2,1.2);
		letter-spacing: 20px;
		opacity:0.4;
	}
	100% {
		transform: scale3d(1,1,1);
		letter-spacing: 7px;
		opacity:1;
	}
}
#profile-picture img {
	width:130px;
	height:140px;
	margin:0 auto;
	border-radius:50%;
	opacity:1;
	animation:coin 3.5s;
	animation-timing-function: ease-in;
}
@keyframes coin {
	0% {
		transform: rotateX(90deg) rotateY(90deg) translateY(500px) scale(0.01);
		opacity:0;
	}
	40% {
		transform: rotateX(90deg) rotateY(90deg) translateY(500px) scale(0.3);
		opacity:0.4;
	}
	100% {
		transform: rotateX(0deg) rotateY(0deg) translateY(0px) scale(1);
		opacity:1;
	}
}
#quicklinks-box {
	width:95vw;
	padding-bottom:40px;
	padding-right:10px;
	background-color:rgba(0,0,0,0.4);
	height:auto;
	margin:0 auto;
	display:flex;
	overflow:hidden;
	border-top:1px solid rgba(230,250,255,0);
	border-left:1px solid rgba(230,250,255,0);
	border-right:1px solid rgba(230,250,255,0);
	border-bottom:1px solid rgba(230,250,255,0);
	border-radius:20px 20px 20px 20px;
	animation:topborder 5s;
	animation-timing-function:linear;
}
@keyframes topborder {
	0% {
		width:0;
		height:0;
		border-radius:0;
		border-bottom:0;
	}
	65% {
		width:0;
		height:0;
		border-radius:50% 70% 50% 50%;
		border-bottom:0;
	}
	75% {
		width:95vw;
		height:200px;
		border-radius:50% 50% 50% 50%;
		border-bottom:0;
	}
	100% {
		width:95vw;
		height:400px;
		border-radius:20px 20px 20px 20px;
		border-bottom:0;
	}
}
.hidebig {
    display:none;
}
.quicklink {
	width:40vw;
	margin:auto 0;
	padding:10px;
	padding-top:0;
	float:left;
	height:300px;
	color:rgba(230,250,255);
}
.quicklink img {
	opacity:0.7;
	transition:opacity 1s;
	transition:width 1s;
}
.quicklink img:hover {
	opacity:1;
	width:103%;
}
.one {
	animation:opacityoption 6s;
	animation-timing-function: ease-in-out;
}
.two {
	animation:opacityoption 7s;
	animation-timing-function: ease-in-out;
}
.quicklink.two {
	background:transparent;
	border:none;
}
.three {
	animation:opacityoption 8s;
	animation-timing-function: ease-in-out;
}
@keyframes opacityoption {
	0% {
		opacity:0;
	}
	85% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.quicklink h3 {
	text-shadow: -3px 3px rgb(0,0,0);
}
.intro-text h1{
	opacity:0.7;
	padding-top:13vh;
}
.navbar {
	background-color:rgba(0,0,0,0.5);
	overflow: hidden;
	width:100%;
	margin:0 auto;
	position:fixed;
}
div.navbar {
	text-align: center;
}
.articles {
	display:flex;
}
/* ---NAVIGATION------------------------------------------------ */
.navbar a {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.navbar {
	z-index:10000;
	border:none;
}
/*----------PORTFOLIO-----------------------------------------------------------*/
.project-container {
}
#myTopnav ul li {
	list-style: none;
	display:inline;
	color: rgb(108,48,66);
	transition:letter-spacing 0.5s;
}
.nav {
	list-style: none;
	display:inline;
	width:inherit;
}
#myTopnav ul li:hover {
	letter-spacing: 20px;
	color:deepskyblue;
}
#myTopnav ul li.active {
	letter-spacing: 10px;
	;
	color: rgb(75,245,141);
}
/*---EXPERIENCE----------------------------------------------------------------*/
div#aside {
	width:99%;
	padding:0px;
	box-sizing: border-box;
	margin:0;
	line-height:25px;
	height:auto;
	border:1px solid white;
	border-radius:10px;
	background-color:rgba(0,0,0,0.7);
	color:white;
	text-shadow: none;
	letter-spacing: 2px;
	border-bottom:0;
	padding-bottom: 10px;
}
#portfolio-intro {
	padding:30px;
}
.panel {
	background-color:rgba(0,0,0,0.3);
	width:90%;
	margin:0 auto;
	margin-bottom:10px;
	border:1px solid rgba(255,255,255,0.5);
	border-radius:10px;
	padding:10px;
}
.panel-text {
	padding:10px;
	background-color:rgba(0,0,0,0.8);
	color:chartreuse;
	width:90%;
	margin:0 auto;
	line-height: 26px;
	font-size:15px;
	text-align: justify;
}
.portfolio-flex {
	flex-direction:column;
	height:auto;
	padding:0px;
	margin:0;
	width:100%;
}
.project-card {
	padding:10px;
	text-align: center;
	margin:0px;
	background-color:rgba(0,0,0,0.8);
	border:1px solid deepskyblue;
}
.project-card img {
	border:1px solid grey;
}
.project-view {
	width:100%;
	line-height:50px;
	font-weight:normal;
	font-size:120%;
	color:white;
	background-color:rgba(0,50,196,0.5);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-bottom:10px;
	transition:line-height 0.5s, background-color 0.5s, font-weight 0.6s;
}
.project-view:hover {
	line-height:70px;
	font-weight:bold;
	background-color:deepskyblue;
}
.project-container {
	display:block;
	margin:10px;
	margin-top:0px;
	text-shadow: none;
	color:white;
	letter-spacing: 1.5px;
	line-height:30px;
	width:78%;
	float:left;
	padding:10px;
	height:96%;
	overflow-y:scroll;
	background-color:rgba(0,0,0,0.8);
}
.collapse.show {
	visibility: visible;
}
#tab1,#tab2,#tab3,#tab4 {
	width:100%;
	height:100%;
	margin-bottom:20px;
	background-image:url("images/background.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%;
	background-size: 100vw 100vh;
	background-attachment: scroll;
}
.tab-content {
	min-height:150vh;
	padding-bottom: 0;
}
#project-one {
	width:100%;
	height:98%;
	padding:10px;
	letter-spacing: 2px;
	line-height:30px;
	font-weight:normal;
	text-shadow: none;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-top:0px;
	margin-bottom:10px;
}
#project-two {
	display:BLOCK;
	width:100%;
	padding:10px;
	letter-spacing: 2px;
	line-height:30px;
	font-weight:normal;
	text-shadow: none;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-top:20px;
	margin-bottom:10px;
}
#project-three {
	display:BLOCK;
	width:100%;
	padding:10px;
	letter-spacing: 2px;
	line-height:30px;
	font-weight:normal;
	text-shadow: none;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.6);
	border-radius:10px;
	margin-top:20px;
	margin-bottom:10px;
}
#project-four {
	display:none;
}
#home-links {
	width:100%;
	padding:10px;
	display:flex;
	flex-direction:column;
}
.home-link {
	width:80%;
	padding:15px;
	margin:0 auto;
	margin-top:15px;
	border:1px solid rgba(100,100,150,0.5);
	border-radius:10px;
	background-color:rgba(0,0,0,0);
	color:white;
	font-weight:bold;
	letter-spacing: 5px;
	transition: width 0.5s, color 0.2s, background-color 0.5s, letter-spacing 0.4s;
}
.home-link:hover {
	width:100%;
	color:white;
	background-color:rgbA(168,58,126,0.6);
	letter-spacing:14px;
}
.home-text {
	letter-spacing:4px;
	text-shadow:none;
	line-height:30px;
	font-size:115%;
}
#port-link {
	color:rgba(200,100,100,1);
	padding:20px;
	transition:color 0.5s, font-size 0.5s;
}
#port-link:hover {
	color:deepskyblue;
	font-size:120%;
}
.dtimg {
	width:60%;
}
.sdtimg {
	width:30%;
}
.pimg {
	width:20%;
}
/*---EXPERIENCE----------------------------------------------------------------*/
#experience-flex {
	display:flex;
}
#skills {
	background-color:rgb(0,0,0,0.8);
	text-shadow: none;
	color:white;
	padding:20px;
	float:left;
	width:40vw;
	margin:0vw 1.25vw 2vw 2.5vw;
	font-weight:bold;
}
.progress-bar {
	width:100%;
	height:20px;
	border-radius:5x;
	background-color:dimgrey;
	margin-top:15px;
	margin-bottom:0;
}
.progress {
	height:19px;
	background-color:limegreen;
	font-size: 80%;
	padding:1px;
}
table {
	width:100%;
}
th {
	font-size:80%;
}
th {
	padding:10px;
	border-bottom:1px solid white;
}
td {
	padding:0px;
	border-bottom:1px solid grey;
}
tr:hover {
	background-color: black;
}
h3 {
	margin:0;
}
h5 {
	margin:15px;
}
#qualifications {
	/* background-color:rgb(0,0,0,0.8);
	*/
	text-shadow: none;
	color:white;
	padding:0px;
	float:left;
	width:60vw;
	margin:0vw 2vw 2vw 1.25vw;
	font-weight:bold;
	display:flex;
	flex-direction: column;
	color:black;
}
#qual-flex {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	height:50%;
}
.qualification {
	background-color:rgb(0,0,0,0.8);
	text-shadow: none;
	color:white;
	padding:0px;
	float:left;
	width:30%;
	height:92%;
	margin:10px;
	;
	font-weight:bold;
}
article {
	word-wrap: break-word;
}
.qualification table {
	margin:5%;
	width:90%;
}
.qualification td {
	font-size:120%;
	color:chartreuse;
}
.qualification p {
	font-size:60%;
	text-align: left;
	color:white;
}
.tooltip {
	position:relative;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 350px;
	background-color: black;
	color: chartreuse;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -275px;
	margin-bottom:-40px;
	font-size:60%;
	/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
	opacity: 0;
	transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tooltiptext a {
	color:white;
}
.tooltiptext a:hover {
	color:deepskyblue;
}
/*---CONTACT-----------------------------------------------------------------*/
.page4-wrapper {
	width:100vw;
	background-image:url("images/newback.jpg");
	background-position:0% 0%;
	background-size: 100vw 100vh;
	background-repeat:repeat-y;
	text-shadow: -3px 3px #fff;
	color:rgb(0,0,0);
	text-align: center;
	padding-top:0px;
}
.contact-page {
	clear:both;
}
.contact-form {
	background-color:rgb(0,0,0,0.8);
	text-shadow: none;
	color:black;
	padding:20px;
	float:none;
	margin:0 auto;
	font-weight:bold;
	font-size:18px;
}
.contact-form label {
	color:white;
}
.form-group {
	margin:10px;
	/* border:2px solid white;
	*/
}
.input {
	margin:10px;
	width:60%;
	height:30px;
	font-size:150%;
	padding:20px;
	color:black;
	border-radius:10px;
}
.input-group {
	float:left;
	width:50%;
	font-size:60%;
}
#submit-form {
	width:25%;
	padding:10px;
	border-radius:10px;
	background-color:rgb(0,0,50);
	border:1px solid black;
	font-size:100%;
	color:white;
	transition:width 1s, font-size 1s, color 1s, background-color 1s;
}
#submit-form:hover {
	width:100%;
	color:white;
	font-size:140%;
	background-color:deepskyblue;
}
.find-us {
	background-color:rgb(0,0,0,0.8);
	text-shadow: none;
	color:white;
	padding:20px;
	padding-bottom:0;
	float:none;
	margin:0 auto;
	margin-top:20px;
	font-weight:bold;
	display:flex;
	flex-wrap: wrap;
    
}
.information-contact {
	letter-spacing: 4px;
	line-height: 25px;
	font-weight:normal;
	margin:10px;
	margin-top:5px;
}
.map-flex {
	flex-grow:2;
	margin-bottom:8px;
}
/*-----FOOTER----------------------------------------------------------------*/
footer {
	height:auto;
	padding:1px;
	background-image:url(images/background2.jpg);
	background-repeat:repeat-x;
	color:black;
	width:100vw;
	text-align: center;
}
#footer {
	width:100%;
	padding:50px;
	padding-top:20px;
	height:auto;
	letter-spacing:3px;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
.fa {
	padding: 20px;
	font-size: 200%;
	width: 76px;
	height: 76px;
	text-align: center;
	text-decoration: none;
	margin: 5px 20px;
	border-radius: 50%;
}
a:hover, a:focus {
	text-decoration: none;
}
.fa-facebook {
	background: #3B5998;
	color: white;
	transition:background 0.5s;
}
.fa-facebook:hover {
	background-color:rgba(0,0,0,0);
	color:black;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
	transition:background 0.5s;
}
.fa-twitter:hover {
	background-color:rgba(0,0,0,0);
	color:black;
}
.fa-instagram {
	background: #125688;
	color: white;
	transition:background 0.5s;
}
.fa-instagram:hover {
	background-color:rgba(0,0,0,0);
	color:black;
}
.fa-pinterest {
	background: #cb2027;
	color: white;
	transition:background-color 0.5s;
}
.fa-pinterest:hover {
	background-color:rgba(0,0,0,0);
	color:black;
}
#backtotop {
	width:400px;
	padding:10px;
	background-color:black;
	letter-spacing:8px;
	color:white;
	text-decoration: none;
	border-radius:5px;
	margin:0 auto;
	margin-top:30px;
	transition: width 1s, background-color 1s, letter-spacing 1s;
}
#backtotop:hover {
	width:90%;
	background-color:rgb(20,100,155);
	letter-spacing:12px;
	text-decoration: none;
}
.tab-pane img {
	border:1px solid deepskyblue;
}
textarea {
	width:100%;
	margin:0;
	color:black;
	padding:10px;
	border-radius:10px;
}
#homelink {
	display:block
}
.radio-flex {
	display:flex;
	flex-direction:row;
}
#thomaslink {
	display:none;
}
.navbar a.icon {
	display:none;
}
@media only screen and (max-width: 1300px) {
	.quicklink {
		font-size:80%;
		margin-top:0;
		margin-left:1px;
		margin-right:1px;
		width:90%;
		background-color:rgb(0,0,0,0.5);
		padding:10px;
		border-radius:10px;
		border:1px solid rgba(255,255,255,0.6);
	}
}
@media only screen and (max-width: 1230px) {
	.quicklink {
		font-size:70%;
	}
}
@media only screen and (max-width: 1155px) {
	.quicklink {
		font-size:70%;
		height:auto;
	}
	.home-link {
		width:100%;
	}
}
@media only screen and (max-width: 1135px) {
	.home-text {
		line-height:27px;
	}
    .hider {display:none;}
    .quicklink {
        border:none;
    }
}
@media only screen and (max-width: 1097px) {
	#qualifications {
		height:auto;
		width:100vw;
		margin:0;
		padding:0;
	}
	.qual-flex {
		width:100vw;
		height:auto;
		flex-direction: column;
		margin:0;
		padding:0;
	}
	.qualification {
		width:100%;
		height:auto;
		padding-bottom:20px;
	}
	.page4-wrapper {
		width:100vw;
		height:auto;
		background-repeat:repeat-y;
		background-position:center;
	}
	.container {
		height:auto;
	}
	#experience {
		height:auto;
	}
	#experience-flex {
		flex-direction: column;
		height:auto;
	}
	#skills {
		width:100vw;
		height:auto;
		overflow:scroll;
	}
	table {
		100vw;
		overflow:scroll;
	}
	.project-container {
		width:100%;
	}
	aside#aside {
		width:50%;
		margin:0 auto;
		float:none;
		margin-bottom:20px;
	}
}
@media only screen and (max-width: 945px) {
	body {
		width:100vw;
	}
	.navbar a.active {
		color: rgb(75,245,141);
		float:left;
	}
	.navbar {
		background-color: rgba(0,0,0,0.5);
		width: 100vw;
		margin: 0 auto;
		position: fixed;
	}
	.form-group input[type="text"],.form-group input[type="email"] {
		max-width: 100%;
	}
	#quicklinks-box {
		width:100%;
		flex-direction:column;
		height:auto;
		padding:0;
	}
	#home {
		min-height:100vh;
	}
	.page1-wrapper {
		height:auto;
		padding:10px;
		background-repeat:repeat-y;
	}
	.page2-wrapper {
		height:auto;
		background-repeat:repeat;
		background-position:bottom;
		padding-bottom:20px;
	}
	.page4-wrapper {
		width:100vw;
		height:200vh;
		background-repeat:repeat-y;
	}
	.container {
		height:auto;
	}
    .portfolio-page {
        text-align:center;
        width:100%;
    }
    
    .portfolio-title {
        width:100%;
        margin:0 auto;
    }
 
    #portfolio-intro {
        padding:5px;
    }
    h1 {text-align: center;}
	.open-page {
		height:auto;
        width:100%;
	}
	.contact-page {
		height:auto;
	}
	.container-fluid {
		height:auto;
		margin:0;
		padding:0;
	}
    #signature {
        margin-top:40px;
    }
	#experience {
		height:auto;
	}
	#experience-flex {
		flex-direction: column;
		height:auto;
	}
	#skills {
		width:100vw;
		height:auto;
		overflow:scroll;
		padding:1px;
	}
	table {
		100vw;
		overflow:scroll;
	}
	#qualifications {
		height:auto;
		width:100vw;
		margin:0;
		padding:0;
	}
	.qual-flex {
		width:100vw;
		height:auto;
		flex-direction: column;
		margin:0;
		padding:0;
	}
	.qualification {
		width:100%;
		padding-bottom:20px;
	}
	#contact {
		/* HEIGHT OF THIS BACKGROUND IS ONLY CONTROLLED BY PAGE4-WRAPPER */
	}
	.quicklink {
		font-size:120%;
		font-weight:bold;
        margin:0 auto;
	}
	.quicklink h3 {
		text-shadow: none;
	}
	.contact-form {
		width:97vw;
		margin:0 auto;
		height:auto;
		float:none;
		padding:0;
		margin-bottom:10px;
		color:black;
	}
	.hider a {
		display:none;
	}
	.navbar {
		height:40px;
	}
	.navbar a.icon {
		padding:0;
		margin:0;
		margin-right:10px;
		width:40px;
		height:40px;
		color:white;
		margin-top:-20px;
	}
	.navbar a.icon .fa {
		width:40px;
		height:40px;
		padding:0;
		margin:0;
		margin-top:-5px;
		font-size:150%;
	}
	.navbar li.active a {
		display:block !important;
		width:auto;
		padding:0;
		float:left;
		padding-left:10px;
		margin-top:-10px;
	}
	table {
		width:200%;
	}
	.experience-flex {
		width:100%;
	}
	#skills {
		width:99%;
		margin:0 auto;
		padding:0;
		overflow:hidden;
	}
	table col {
		width:50%;
	}
	form{
		padding:0;
		height:auto;
	}
	.input {
		width:90%;
		display:block;
		color:black;
	}
	.input-group {
		float:none;
		margin:0 auto;
		width:70vw;
		padding-top:10px;
		color:black;
	}
    .transparentback {
        float:left;
    }
    .hidebig {display:block;}
	input[type="radio" i] {
		width:30px;
		height:30px;
		margin:10px;
	}
	.radio-flex {
		display:flex;
		flex-direction:column;
	}
	#submit-form {
		width: 90%;
		padding: 15px;
		background-color: deepskyblue;
		font-size: 150%;
		color: black;
		margin-bottom:10px;
	}
	.map-flex {
		width:100%;
		margin:0;
	}
	.contact-form {
		height:auto;
	}
	.contact-page {
		height:auto;
		flex-direction: column;
	}
	.find-us {
		flex-direction: column;
		width:100%;
		padding:0;
		margin:0;
		padding-top:20px;
		display:block;
	}
	.info-flex {
		flex-direction: column;
		width:100%;
	}
	footer {
		height:auto;
		display:block;
		margin:0 auto;
		padding-top:20px;
	}
	#footer {
		display:block;
		height:auto;
		margin:0 auto;
		padding-top:20px;
	}
	.portfolio-flex {
		flex-direction:column;
		height:auto;
		padding:1px;
	}
	aside#aside {
		width:100%;
		margin:0 auto;
		padding:10px;
		line-height:25px;
		height:auto;
		border:1px solid white;
		border-radius:10px;
		margin-bottom:20px;
		background-color:rgba(0,0,0,0.7);
		color:white;
		text-shadow: none;
		letter-spacing: 2px;
	}
   
    div.contact-title {
        margin:0 auto;
        width:auto;
    }
	#portfolio {
		height:auto;
	}
	.page2-wrapper {
		height:auto;
	}
	.project-view {
		width:100%;
		line-height:50px;
	}
	.project-container {
		width:95%;
	}
	.dtimg {
		width:100%;
	}
	.sdtimg {
		width:90%;
	}
	.pimg {
		width:90%;
	}
	.navbar .icon {
		display: none;
	}
	@media only screen and (max-width: 600px) {
		.navbar a:not(:first-child) {
			display: none;
		}
		.navbar a.icon {
			float: right;
			display: block;
		}
		#backtotop {
			width:80%;
		}
		.container, .container-fluid, .panel, .page1-container, .page2-container, .page3-container, .page4-container {
			margin:0;
			padding:2px;
		}
	}
    .container {
        width:100%;
    }
	@media only screen and (max-width: 600px) {
		.navbar.responsive {
			position: relative;
		}
		.navbar.responsive a.icon {
			position: absolute;
			right: 0;
			top: 0;
		}
		.navbar.responsive a {
			float: none;
			display: block;
			text-align: left;
		}
        .col-md-12 {padding:10px;}
	}
	[hidden] {
		display: none;
	}
    .contact-page {
        float:left;
    }
    .contact-form {float:none;}
    .find-us{float:none; height:auto;}
    footer{float:left;}
     .panel {
        margin:0 auto;
    }
	#__bs_notify__ {
		display: none !important;
	}
    .hider:display:none;
}