html {
    margin:0;
    padding:0;
}
body {
    animation-name:fade;
    animation-duration:3s;
}
@keyframes fade {
    0% {opacity:0.8;}
    100% {opacity:1;}
}
header {
    width:100%;
    background-color:rgb(58, 73, 78);
    background-color:rgb(58, 73, 78);
    height:10%;
    border-bottom:2px solid rgb(152, 29, 0);
    border-top:none;
    margin:0;
    margin-top:-20px;
}
a {
    color:white;
    text-decoration:none;
    transition:font-size 0.5s;
}
a:hover {
    font-size:110%;
}
footer {
    text-align: center;
    background-color:rgb(138, 29, 0);
    color:white;
    padding:2px;
}

img {
    width:26%;
    transition:width 0.5s;
}
img:hover {
    width:30%;
}
/*----------------IDENTIFIED -----------------------*/
#logo {
    float:left;
    height:80%;
   
}
.logo {
     animation-name:logospin;
    animation-duration:2s;
    animation-timing-function: linear;
}
@keyframes logospin {
    0% {margin-top:100vh;margin-left:50vh;transform:rotateX(0deg);transform:rotateY(0deg);transform:rotateZ(0deg);}
    50% {margin-top:40vh;margin-left:25vh;transform:rotateX(180deg);transform:rotateY(180deg);transform:rotateZ(180deg);}
    100% {margin-top:0vh;margin-left:0vh;transform:rotateX(360deg);transform:rotateY(360deg);transform:rotateZ(360deg);}
}
#abc {
    color:rgba(242, 79, 0, 0.6);
    margin-top:15px;
    padding-top:0px;
    margin-right;0;
    float:left;
}
#webdesign {
    color:white;
    margin-top:15px;
    padding-top:0px;
    margin-left:0;
    float:left;
}
#topbanner {

    width:100%;
    background-color:rgb(58, 73, 78);
    background-color:rgb(58, 73, 78);
    height:10%;
    border-bottom:2px solid rgb(138, 29, 0);
    margin:0;
}
#logo1 {
    height:100%;
     text-align: center;
    margin-left:20px;
}
#maintitle {
     text-align: center;
     padding-left:25px;
}
#abc1 {
    color:rgba(242, 79, 0, 0.6);
    margin-top:15px;
    padding-top:15px;
    margin-right;0;
    float:left;
}
#webdesign1 {
    color:white;
    margin-top:15px;
    padding-top:0px;
    margin-left:0;
    float:left;
}
#navigation {
    float:right;
    margin-top:-13px;
}
#navigation li {
    float:left;
    list-style: none;
    margin:10px;
    color:white;
}
#navigation2 li.selected {
    color:orange;
    display:none;
}
#navigation2 {
    float:none;
    width:100%;
     display:none;
    position:absolute;
    text-align: center;
    margin-top:-20px;
}
#navigation2 li {
    float:left;
    list-style: none;
    margin:10px;
    
    color:white;
    font-size: 80%;
     display:none;
    margin:0 auto;
    margin-top:23px;
    padding:10px;
}
#navigation li.selected {
    color:orange;
}
#flexabout {
    padding:10px;
    flex-grow: 3;
    margin-top:-20px;
    font-size: 90%;
}
#flexaside {
    
    padding:10px;
    color:white;
    height:280px;
    flex-grow: 1;
    font-size: 90%;
}
#aside {
    background-color:rgb(58, 73, 78);
    padding:10px;
    color:white;
    height:250px;
}
#subscribe {
    width:100%;
    background-color:rgb(58, 73, 78);
    height:10%;
    margin:0;
    margin-bottom:10px;
}
#extrainfo {
    display:none;
}
#extrainfo2 {
    display:none;
}
#extrainfo3 {
    display:none;
}
.popup {
    display:none;
    width:96%;
    height:156px;
    padding:10px;
    background-image: linear-gradient(to right , black, red, black);
    opacity:1;
    color:white;
    border-radius:10px;
    border-bottom:2px solid white;
    border-right:1px solid white;
    position:absolute;
    z-index:1000;
    margin-top:-250px;
    margin-left:-9%;
    text-align: center;
}
.btn {
    width:100%;
    padding:10px;
}
/*------------------CLASSES -----------------------*/
.containerfluid {
    width:100%;
     margin:0 auto;
}
.container{
    width:80%;
    margin:0 auto;
     
    
}
.white {
    color:white;
    margin-top:0px;
}
.white1 {
    color:white;
    margin-top:35px;
    padding:20px;
}
.orange {
    color:rgb(138, 29, 0);
}



.selected {
    color:orange;
}
.banner {
    width:100%;
    height:400px;
}
.red {
    background-color:rgb(138, 29, 0);
    padding:6px;
}
.button {
    background-color:rgb(138, 29, 0);
    padding:10px;
    padding-top:6px;
    padding-bottom:6px;
    border:none;
    color:white;
    font-size:60%;
}

.backgroundimage {
    margin:0;
    padding:0;
    height:180px;
    background-image:url("/space.jpg");
    background-position:center;
    background-repeat:none;
    background-size: cover;
}
.yellow {
    color:orange;
}
.center {
    text-align:center;
}
.left {
    float:left;
    margin-top:10px;
    font-size:70%;
    color:white;
}
.hidden {
    display:none;
}
.noborder {
    border:none;
    margin:0;
}

.right {
    margin-top:20px;
    float:right;
}
button {
    border:1px solid rgb(100,200,200);
    border-bottom:3px solid rgb(100,100,100);
    border-right:2px solid rgb(100,100,100);
}

/*------------------FLEXY BOXES -----------------------*/

#example1 {
    width:20%;
    border:1px solid rgb(200,200,200);
    border-bottom:4px solid rgb(200,200,200);
    border-right:3px solid rgb(200,200,200);
    margin:10px;
    font-size:70%;
    text-align: center;
    border-radius:5px;
}


#example1 img {
    width:90%;
    margin:3px;
    margin-top:3px;
    transition:margin-top 0.5s;
}
#example1 img:hover {
    margin-top:20px;
    
}
#flexcontact {
    display:flex;
    flex-direction:row;
    width:80vw;
}

    #contactform {
                text-align: center;
                order:1;
                padding:10px;
                width:50vw;
                flex:2;
                margin:10px;
                background-color:rgb(240,240,240);
                padding:10px;
                border:2px solid rgb(220,220,220);
            }
    #contactdetails {
                text-align: center;
                order:2;
                padding:10px;
                margin:10px;
                flex:2;
                background-color:rgb(240,240,240);
                padding:10px;
                border:2px solid rgb(220,220,220);
                width:50vw;
            }
#flexservice {
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
}
            #service1 {
                width:50vw;
                margin-left:40px;
                margin-bottom:10px;
                background-color:rgb(240,240,240);
                padding:10px;
                border:2px solid rgb(220,220,220);
                transition:margin-left 0.5s;
            }
            #service2 {
                width:50vw;
                margin-left:40px;
                margin-bottom:10px;
                background-color:rgb(240,240,240);
                padding:10px;
                border:2px solid rgb(220,220,220);
                transition:margin-left 0.5s;
            }
            #service3 {
                width:50vw;
                margin-left:40px;
                margin-bottom:10px;
                background-color:rgb(240,240,240);
                padding:10px;
                border:2px solid rgb(220,220,220);
                transition:margin-left 0.5s;
            }
#service1:hover, #service2:hover, #service3:hover {
    margin-left:0;
}
#service1 a, #service2 a, #service3 a {
    color:chocolate;
    text-decoration: underline;
}


#containerbox {
   display:flex;
   flex-direction:row;
}
            #flex1 {
                text-align: center;
                order:1;
                padding:10px;
                flex:1;
            }

            #flex2 {
                text-align: center;
                order:2;
                padding:10px;
                flex:1;
            }
            #flex3 {
                text-align: center;
                order:3;
                padding:10px;
                flex:1;
            }
            
            @media (max-width:600px){
                #container {
                    display:flex;
                    flex-direction:column;
                }   
            }
.popup2 {
    display:none;
}
/*------------------MEDIA -----------------------*/
@media only screen and (max-width:768px)
{
    #containerbox {
        flex-direction:column;
    }
    #container {
        width:100%;
    }
    #navigation {
        float:none;
        align-content: center;
        text-align: center;
        display:none;
    }
    #navigation2 {
        display:block;
        float:none;
    }
    #navigation li {
        margin-top:22px;
            
    }
    #flexservice {
        flex-direction:column;
    }
    #service1 {
        width:75vw;
        margin-left:-20;
    }
     #service2 {
        width:75vw;
        margin-left:-20;
    }
     #service3 {
        width:75vw;
        margin-left:-20;
    }
    #subscribe {
        height:18%;
    }
    .left {
        float:none;
    }
    .margin {
        padding:10px;
    }
    .right {
    margin-top:5px;
        float:none;
    }
    .backgroundimage {
         height:220px;
    }
    #webdesign {
        display:none;
    }
    #abc {
        display:none;
    }
   
    .hidden, #navigation2, #navigation2 li, #navigation2 li.selected {
    display:block;
    }
        #flexaside {
    height:290px;
    margin-bottom:10px;
}
    #aside {
    height:280px;
    margin-bottom:10px;
}
    .block {
        display:none;
    }
    #flexcontact {
        flex-direction:column;
        padding:0;
        margin:0;
    }
    #contactform {
        width:100%;
        margin-left:-15;
    }
    #contactdetails {
        width:100%;
        margin-left:-15;
    }
    .popup {
        
        width:100%;
        animation-duration: 2s;
        animation-name:fader;
    }
    @keyframes fader {
        0% {display:block; opacity:1;}
         100% {display:block; opacity:0;}
    }
      .popup2 {
        display:none;
          width:100%;
    }
}
